<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>multiselect</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body style="margin-top: 30px;">
<div id="app">
    <h3 class="text-center">Components</h3>

    <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
            <div class="form-group">
                <label for="model0">Simple select</label>
                <component is="multiselect" :default="{
                                Monday: 'Monday',
                                Tuesday: 'Tuesday',
                                Wednesday:'Wednesday',
                                Thursday: 'Thursday',
                                Friday: 'Friday',
                                Saturday: 'Saturday',
                                Sunday: 'Sunday'
                            }" :is-multi="false"
                           v-model="model0"
                           :attach-input="true"
                           name="model0"
                           :has-hightlights="false"
                           :disabled="disabled0"
                           id="model0"
                ></component>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
            <div class="form-group">
                <label>Multiselect</label>
                <component is="multiselect"
                           :has-search="false"
                           :default="[
                          {
                            id: 'Monday',
                            title: 'Monday'
                          },
                          {
                            id: 'Tuesday',
                            title: 'Tuesday'
                          },
                          {
                            id: 'Wednesday',
                            title: 'Wednesday'
                          },
                          {
                            id: 'Thursday',
                            title: 'Thursday'
                          },
                          {
                            id: 'Friday',
                            title: 'Friday'
                          },
                          {
                            id: 'Saturday',
                            title: 'Saturday'
                          },
                          {
                            id: 'Sunday',
                            title: 'Sunday'
                          }
                        ]"
                           @change="handleChangeModel1"
                           name="model1"
                           :has-hightlights="false"
                           :attach-input="true"
                ></component>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
            <div class="form-group">
                <label>Multiselect with images</label>
                <component is="multiselect" :default='[
                {
                    title: "Willms Ward",
                    image: "http://lorempixel.com/640/480/?48501"
                },
                {
                    title: "Wisozk Jamil",
                    image: "http://lorempixel.com/640/480/?14588"
                },
                {
                    title: "Dicki Watson",
                    image: "http://lorempixel.com/640/480/?12312"
                },
                {
                    title: "Walter Anabelle",
                    image: "http://lorempixel.com/640/480/?44901"
                },
                {
                    title: "Deckow Westley",
                    image: "http://lorempixel.com/640/480/?58855"
                },
                {
                    title: "Williamson Savanna",
                    image: "http://lorempixel.com/640/480/?81298"
                },
                {
                    title: "Walker Vivienne",
                    image: "http://lorempixel.com/640/480/?68579"
                },
                {
                    title: "West Mayra",
                    image: "http://lorempixel.com/640/480/?58994"
                },
                {
                    title: "Windler Braden",
                    image: "http://lorempixel.com/640/480/?74964"
                }
            ]' v-model="model2" :has-hightlights="false"></component>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
            <div class="form-group">
                <label>Multiselect with async search</label>
                <component is="multiselect"
                           async-search-url="https://vue-bootstrap-multiselect.000webhostapp.com/"
                           v-model="model3"
                           :has-hightlights="false"
                ></component>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Value is null</label>
                <component is="multiselect" :default="{
                                Monday: 'Monday',
                                Tuesday: 'Tuesday',
                                Wednesday:'Wednesday',
                                Thursday: 'Thursday',
                                Friday: 'Friday',
                                Saturday: 'Saturday',
                                Sunday: 'Sunday'
                            }"
                           :is-multi="false"
                           :value="null"
                           :has-hightlights="false"
                ></component>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Disabled</label>
                <component is="multiselect" :default="{
                                Monday: 'Monday',
                                Tuesday: 'Tuesday',
                                Wednesday:'Wednesday',
                                Thursday: 'Thursday',
                                Friday: 'Friday',
                                Saturday: 'Saturday',
                                Sunday: 'Sunday'
                            }"
                           :is-multi="false"
                           :disabled="true"
                           value="Monday"
                           :has-hightlights="false"
                ></component>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Value is key</label>
                <component is="multiselect" :default="{
                                Monday: 'Monday',
                                Tuesday: 'Tuesday',
                                Wednesday:'Wednesday',
                                Thursday: 'Thursday',
                                Friday: 'Friday',
                                Saturday: 'Saturday',
                                Sunday: 'Sunday'
                            }"
                           :is-multi="false"
                           value="Monday"
                           :has-hightlights="false"
                ></component>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
            <div class="form-group">
                <label>Simple select with highlight</label>
                <component is="multiselect" :default="{
                                Monday: 'Monday',
                                Tuesday: 'Tuesday',
                                Wednesday:'Wednesday',
                                Thursday: 'Thursday',
                                Friday: 'Friday',
                                Saturday: 'Saturday',
                                Sunday: 'Sunday'
                            }"
                           :is-multi="false"
                ></component>
            </div>
        </div>
    </div>
</div>
</body>
</html>
